
# [cfg-default]
/[cfg-default]/

# [development]
/[development]/

# [standalone]
/[standalone]/
# Local vRP backup artifacts
[[]vrp[]]/vrp - original-backup/
[[]vrp[]]/vrp.zip

# Standard Cfx.re default resources
[[]cfx-default[]]/
