/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

/* make body full page */
html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

/* menu */

.menu{
  width: 32vh;
  height: 55vh;
  position: absolute;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  bottom: 5vh;
  right: 5vh;
  border-radius: 5px;
  background-size: 25vh;
  background-repeat: no-repeat;
  background-position: center;
}

.bg_img{
  background-image: url("https://github.com/vRP-framework/vRP/raw/master/misc/logo_alpha.png");
}

.menu_description{
  position: absolute;
  font-weight: bold;
  padding: 9px;
  margin-right: 5vh;
  font-size: 0.9em;
  max-width: 500px;
  font-family: 'Montserrat', sans-serif;
  transform: translate(-100%, 0);
  border-radius: 5px;
}

.menu h1{
  text-align: center;
  font-size: 1.6em;
  padding: 6px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.options{
  overflow-y: scroll;
  overflow-x: hidden;
}

.options::-webkit-scrollbar{
  display: none;
}

.options > div{
  margin: 15px 5px 15px 5px;
  padding: 6px;
  font-size: 1.3em;
  text-align: center;
  border-radius: 4px;
}

.options .selected{
  border: 1.5px solid rgba(255,255,255,0.90);
}

/* progress bar */
.progressbar{
  position: absolute;
}

.progressbar .inner{
}

.progressbar .label{
  position: absolute;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
  font-family: 'Montserrat', sans-serif;
}

/* dynamic class progress bar */
.dprogressbar{
  position: relative;
  padding: 0;
  margin: 0;
}

.dprogressbar .inner{
  height: 100%;
  padding: 0;
  margin: 0;
}

.dprogressbar .label{
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  vertical-align: middle;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;
  font-family: 'Montserrat', sans-serif;
}

/* wprompt */
.wprompt{
  position: absolute;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
}

.wprompt h1{
  font-size: 17px;
  text-align: center;
}

.wprompt textarea{
  outline: none !important;
  flex: 1;
  width: 100%;
  padding: 15px;
  resize: none;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.wprompt textarea:focus{
  outline: none !important;
}

.wprompt .help{
  font-size: 0.9em;
  text-align: right;
  padding: 3px;
  font-family: 'Poppins', sans-serif;
}

/* request manager */
.request_manager{
  position: absolute;
  top: 50px;
  right: 10px;
  text-align: right;
}

.request_manager div{
  margin-top: 10px;
}

.request_manager div > span{
  font-size: 1.2em;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.50);
  padding: 4px;
}

.request_manager .yes{
  padding-left: 15px;
  color: rgb(0,255,0);
  font-size: 1em;
}

.request_manager .no{
  color: rgb(255,0,0);
  font-size: 1em;
}

/* announce */

.announce{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 780px;
  height: 130px;
  padding: 10px;
  margin-left: -400px;
  font-weight: bold;
  font-size: 1.1em;
  display: none;
  opacity: 0.90;
}

/* VoIP */

#voice_indicator{
  position: absolute;
  width: 75px;
  height: 75px;
  right: 0;
  top: 35%;
  background-image: url("images/voice_active.png");
  display: none;
}

#voice_indicator.active{
  display: block;
}

/* Radio */

.radio_display{
  position: absolute;
  right: 0;
  top: 15%;
  margin: 6px;
  width: 200px;
}

.radio_display > div{
  overflow: hidden;
  margin-top: 3px;
  font-weight: bold;
  border-radius: 8px;
  padding: 5px;
  color: white;
  background-image: linear-gradient(to bottom, rgba(50,50,50,0.75), rgba(0,0,0,0.75));
}

.radio_display > div > .group{
  text-decoration: underline;
}

.radio_display > div > .title{
}


/* Money Delta Animation */
.money-delta {
  position: absolute;
  right: 10px;
  top: 210px; /* same vertical base as .div_money */
  font-size: 1.2em;
  font-weight: bold;
  color: #00ff7f;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  z-index: 11000;
  animation: moneyDeltaAnim 2s forwards;
}

@keyframes moneyDeltaAnim {
  0% {
    opacity: 0;
    transform: translateY(20px); /* starts 20px below its base (below the money frame) */
  }
  20% {
    opacity: 1;
    transform: translateY(10px); /* appears, still below the frame */
  }
  50% {
    opacity: 1;
    transform: translateY(0); /* moves upward to align with the top of .div_money */
  }
  80% {
    opacity: 1;
    transform: translateY(0); /* stays there briefly */
  }
  100% {
    opacity: 0;
    transform: translateY(-10px); /* then moves slightly up and fades out */
  }
}
